@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');



.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}

.hamburger-icon {
  position: absolute;
  z-index: 2;
  top: 1vh;
  left: 1vw;
  padding-bottom: 2vh;
  position: fixed;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: #2F5D62;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
  
}

#openmenu:checked ~ .menu-pane {
  
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
  
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: #A7C4BC;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  
  transform: rotate(45deg);
  background-color: #A7C4BC;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  
  opacity: 0;
}

div.menu-pane {
  background-color: #2F5D62;
  position: fixed;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 100vw;
  height: 97vh;
 z-index: 1;
  transition: 0.5s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 0% 0% 0% 10% ;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
      color:#DFEEEA;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
  list-style-type: none;  
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 2em;
}





.menu-links li a {
  color: #A7C4BC;
  text-decoration: none;
}


.menu-links li:hover a {
  color: white;
}

.logout-btn{
    font-family: Libre Caslon Text;
    text-align: left;
    border: none;
    font-size: 0.9em;
    background-color: transparent;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}


.logout-btn:hover{
    color: red;
    transition: 0.5s ease;

}




input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;

}




@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.stats{
    margin-top:0.25rem;
    justify-content: center;
    text-align:center;
    padding: 1rem 0;
    display: flex   ;
}

.stats>*{
    margin:0 1rem ;
    font-size: 0.9rem;
}

.icon_stat{
    color:#ABEB83;
    font-size: 1.5rem;
}




.name_heading {
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;  
    font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  color:#ABEB83;
      
}

.card_container_grand{
  align-items: left;
  justify-content: left;
  position: relative;
  display: flex;
  flex-direction: column;
}  

.card_container_parent{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}   


.round{
    width:2rem;
    height: 2rem;
}



