@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');



.body-text {
  padding-top: 20vh;
  text-align: center;
  position: relative;
}

.hamburger-icon {
  position: absolute;
  z-index: 2;
  top: 1vh;
  left: 1vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
  
}

#openmenu:checked ~ .menu-pane {
  
  left: -5vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
  
display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  
  transform: rotate(45deg);
  background-color: white;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  
  opacity: 0;
}

div.menu-pane {
  background-color: black;
  position: absolute;
  transform: translateX(-105vw);
  transform-origin: (0, 0);
  width: 100vw;
  height: 97vh;
 z-index: 1;
  transition: 0.5s ease-in-out;
}

.menu-pane p {
  color: black;
  font-size: 0.6em;
}

.menu-pane nav {
  padding: 0% 0% 0% 10% ;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding: 10%;
  display: inline-block;
}

.menu-pane li {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
    font-size: 2em;
}





.menu-links li a {
  color: white;
  text-decoration: none;
}


.menu-links li:hover a {
  color: #FFAB91;
}

.logout-btn{
    font-family: Libre Caslon Text;
    text-align: left;
    border: none;
    font-size: 0.9em;
    background-color: transparent;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}


.logout-btn:hover{
    color: red;
    transition: 0.5s ease;

}




input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;

}




@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.stats{
    margin-top:0.25rem;
    justify-content: center;
    text-align:center;
    padding: 1rem 0;
    display: flex   ;
}

.stats>*{
    margin:0 1rem ;
    font-size: 0.9rem;
}

.icon_stat{
    color:#ABEB83;
    font-size: 1.5rem;
}




.name_heading {
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;  
    font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  color:#ABEB83;
      
}


.card_container_parent{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}   

.round{
    width:10rem;
    height: 10rem;
}

.card-container {
    margin: 2rem;
  position: relative;
  background-color: #231E39;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  color: #B3B8CD;
  padding-top: 30px;

  width: 350px;
  max-width: 100%;
  text-align: center;
}

.card-container .pro {
  color: #231E39;
  background-color: #FEBB0B;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 1px solid #ABEB83;
  border-radius: 50%;
  padding: 7px;
}


.skills {
  background-color: #1F1A36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2D2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  font-family: 'Roboto', sans-serif;
}
