@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
.stats{
    margin-top:0.25rem;
    justify-content: center;
    text-align:center;
    padding: 15.6px 0;
    display: flex   ;

}

.stats>*{
    margin:0 1rem ;
    font-size: 0.9rem;
    
}

.icon_stat{
    color:#2F5D62;
    font-size: 1.5rem;
}




.name_heading {
    margin-bottom: 1rem;
    font-family: 'Eczar', serif;
    font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  color:#2F5D62;
      
}


.card_container_parent{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row;
}   

.round{
    width:10rem;
    height: 10rem;
}

.card-container {
  position: relative;
  background-color: #DFEEEA;
  /* border-radius: 10px; */
  box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.75); 

  padding-top: 20px;
  padding-bottom: 1px;
  width: 350px;
  margin: 100px 0px 10px 10px;
  text-align: center;

}


.graph-container{
  height: inherit;
  background-color: #DFEEEA;
  /* border-radius: 10px 10px 0 0 ; */
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75); 
  padding-top: 30px;
  padding-right: 30px;

  margin:100px 10px 10px 0px;;
}



.card-container .round {
  border: 1px solid #2F5D62;
  border-radius: 50%;
  padding: 7px;
}


.skills {
    
  background-color: #DFEEEA;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  color: #2F5D62;
  display:inline-block;
  border:1px dotted grey;
  border-radius: 12px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  font-family: 'Roboto', sans-serif;
}



.container {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
 
}

.image {
  outline:0.2rem solid #231E39;
  border-left: 0.2rem solid #ABEB83 ;
  border-top: 0.2rem solid #ABEB83;
  
  margin:0;
  max-width:30%;
  border-radius: 20%;
}




.home-container {

  display: flex;
  flex-direction: row;
}

.home-image{
  margin-top: 5rem;
  flex: 1;


}

.home-image img {
  border-radius:5rem;

  width: 25vw;
  height: auto;

}

.home-text {
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-top: 5rem;
  margin-left: 5rem;
  flex: 2;
  padding: 0 20px;
  color:black;
  font-size: 1.2rem;
  font-family: 'Eczar', serif;
}

.welcome{
 
  color:#010046;
  font-size: 3rem;
}